extends layout
block content
  div.container(ng-app='app')
    div(ng-controller='gameCtrl')
      div.gameContainer
        div(class='cell {{cell.css}}' ng-class="{locked: !isTurn}" ng-repeat='cell in board' ng-click='play($index)') 
          span.move(ng-class="{highlight: highlights.indexOf($index) > -1}") {{cell.move}}

      div.clear
      div.info
        p{{notification}}
        a.playagain(ng-click='resetGame()' ng-show='isGameOver') Play again?
  
  script(src='http://codeorigin.jquery.com/jquery-2.0.3.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js')
  script(src='/socket.io/socket.io.js')
  
  script.
    // global variables. will be finding a better way to handle this
    window.gameSettings = {
      playerMarker: '#{player.marker}',
      savedBoard: '#{board}'.split(','),
      currentTurn: '#{turn}'
    };
    
  script(src='javascripts/game.js' type='text/javascript')