cellColor = #B0CFCF
cellColorHover = #BBD6D6
buttonColor = #E6E6E6

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body {
  font-family: Sans-Serif;
  text-align: center;
}
.gameContainer {
	width: 157px;
	margin: 0 auto;
	border-radius: 5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cell {
	width: 50px;
	height: 50px;
	float: left;
	border: solid 1px white;
	background-color: cellColor;
	color: white;
}
.cell:hover {
	background-color: cellColorHover;
	cursor: pointer;
}
.cell.locked
	background-color: cellColor
	cursor: default
	
.top.left { border-radius: 18px 0 0 0 }
.top.right { border-radius: 0 18px 0 0 }
.bottom.left { border-radius: 0 0 0 18px }
.bottom.right { border-radius: 0 0 18px 0 }

.move {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	line-height: 50px;
}
.move.highlight {
	color: #F3F366;
}
.playagain 
  cursor pointer
  background-color buttonColor
  padding 10px
  border-radius 8px

.clear 
  clear both
.hidden
  display none